@use 'variables' as *;

@use './src/notifications/notifications.scss';

// TODO: figure out easy button brighten on hover

* {
  color: $text;
  all: unset;
}

// TODO: figure out if justify center is possible
tooltip {
  border-radius: 7px;
  background: rgba($base, 0.98);
  border: solid 1px $mauve;
  font-family: "roboto";
  // TODO: consider
  //box-shadow: 3px 3px 7px 0 rgba(0,0,0,.4);
}

window.Popovers {
  background: #FF00FF55;
}

window.Hotcorner {
  background: transparent;
  font-size: $fontsize;
  color: $mauve;

  separator {
    background-color: $surface1;
  }

  .container {
    border-radius: 7px;
    margin: 0px;
    padding: 4px;
    border: solid 1px $mauve;
    background: $surface0;

    > box {
      margin: 2px 0px;
    }
  }

  button {
    padding: 0px;
    margin: 0px 1px;
    min-width: 25px;
    min-height: 25px;
    border-radius: 999px;
    background: $surface1;
  }
}

window.Bar {
  background: transparent;
  font-size: $fontsize;
  font-family: "roboto";
  background: $base;

  separator {
    background-color: $text;
  }

  .infoZone > box {
    border-radius: 6px;
    margin: 0px 2px;
  }

  .batteryInfo {
    padding-left: 2px;
    padding-right: 1px;
  }

  .volumeInfo {
    padding-left: 2px;
    padding-right: 2px;
  }

  .bluetoothInfo {
    padding-left: 2px;
    padding-right: 2px;
  }

  .mediaInfo {
    margin: 0px 2px 0px 2px;
    border-radius: 6px;

    .Cover {
      background-color: $surface0;
      border-radius: 5px;
      min-height: $windowsize - 2px;
      min-width: $windowsize - 2px;
      margin: 1px 2px 1px 5px;
      background-size: contain;
      background-position: center;
    }

    .songText {
      min-width: 100px;
      margin-right: 1px;
    }

    .topText {
      min-height: $windowsize - 6px;
      font-size: 12px;
    }

    .bottomText {
      font-size: 7px;
      min-height: 6px;
      font-weight: bold;

      centerbox {
        min-width: 100px;
      }

      .playerLogo {
        margin: 20px;
      }
    }
  }

  .progressWheel {
    min-height: calc($windowsize - (1px * 2));
    background-color: $overlay1;
    color: $mauve;
    font-size: 3px;

    icon {
      font-size: 8px;
    }
  }

  .workspaces {
    > button {
      border-radius:100px;
      margin: 2px;
      min-width: calc($windowsize - (2px * 2));
      font-weight: bold;
      color: white;
      font-size: calc($fontsize - 4px);
    }

    > button:hover {
    }

    .EmptyWorkspace {
      background-color: $surface1;
    }

    .ActiveWorkspace {
      background-color: $overlay1;
    }

    .FocusedWorkspace {
      background-color: $mauve;
    }
  }
}

window.OSD {
    box.OSD {
        border-radius: 100px;
        background-color: $surface2;
        padding: 6px 8px;
        margin: 13px;
        box-shadow: 3px 3px 7px 0 rgba(0,0,0,.4);
    }

    icon {
        font-size: 25px;
        color: $mauve;
    }

    label {
        font-size: 25px;
    }

  levelbar {
    trough {
      background-color: $surface1;
      border-radius: 4px;
    }

    block {
        min-height: 10px;
    }

    block.empty {
      background-color: transparent;
    }

    block.filled {
      background-color: $mauve;
      border-radius: 4px;
    }
  }
}

.audioPicker {
  > button {
    border: 1px solid transparent;
  }

  .selected {
    border: 1px solid $mauve;
  }
}

.bluetoothPicker {
  > button {
    border: 1px solid transparent;
  }

  .connected {
    border: 1px solid $mauve;
  }

  .connecting {
    // TODO: consider animation
    border: 1px dashed $mauve;
  }

  .disconnecting {
    border: 1px dotted $mauve;
  }
}
